<div class="p-4">
<span>Current user: <%= current_user.email%></span>
<p><span>Current role: <%= current_user.role%></span></p>

<h5>All users</h5>
<table class="table">
  <thead>
    <tr>
      <th class="px">ID</th>
      <th class="px">Email</th>
      <th class="px">Password</th>
      <th class="px">Role</th>
      <th class="px">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="px"><%= user.id %></td>
        <td class="px"><%= user.email %></td>
        <td class="px"><%= user.password %></td>
        <td class="px"><%= user.role %></td>
        <td class="px">
          <%= link_to 'Edit', edit_user_path(user), class: "btn btn-secondary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>