<div class="container">
  <div class="row mt-5">
<%= form_with model: @user do |f| %>
  <div class="col-4">
      <%= simple_form_for :user, url: login_path do |f| %>
        <%= f.input :email %>
        <%= f.input :password %>
          <%= f.select :actor_type, Actor::TYPES.keys, {class: 'form-select'} %>
        <%= f.submit 'Save', class: 'btn btn-primary' %>
      <% end %>
  </div>
  <% end %>
  </div>
</div>

